<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alcaldía de Toledo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body style="padding: 0">
    <nav class="navbar navbar-default no-margin">
        <div class="navbar-header fixed-brand">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="inline-size: max-content">
                <ul class="nav navbar-nav">
                    <li>
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="userLoged" style="display:none">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp @User.Identity.Name</a></li>
                    <li><a href="@Url.Action("LogOut", "Login")"><span class="glyphicon glyphicon-log-out"></span>&nbsp Cerrar sesión</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="userNonLoged" style="display:block">
                    <li><a href="@Url.Action("LogIn", "Login")"><span class="glyphicon glyphicon-log-in"></span>&nbsp Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-university fa-stack-1x" aria-hidden="true"></i></span> Inicio</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Reclamos</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Pendientes</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>En proceso</a></li>
                    </ul>
                </li>
                <li>
                    <a href=@Url.Action("List", "Cuadrilla")><span class="fa-stack fa-lg pull-left"><i class="fa fa-truck fa-stack-1x " aria-hidden="true"></i></span>Cuadrillas</a>
                </li>
                <li>
                    <a href=@Url.Action("List", "TipoDeReclamo")> <span class="fa-stack fa-lg pull-left"><i class="fa fa-pencil-square-o fa-stack-1x" aria-hidden="true"></i></span>Tipos de Reclamo</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bar-chart fa-stack-1x" aria-hidden="true"></i></span>Reportes</a>
                </li>
                <li>
                    <a href=@Url.Action("List", "UsuarioFuncionario")><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Funcionarios</a>
                </li>

            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                @RenderBody()
            </div>
        </div>
    </div>
    
    @{
        if (User.Identity.Name == "")
        {
            <script>
                document.getElementById("userNonLoged").style.display = "block";
                document.getElementById("userLoged").style.display = "none";
            </script>
        }
        else
        {
            <script>
                document.getElementById("userNonLoged").style.display = "none";
                document.getElementById("userLoged").style.display = "block";
            </script>
        }

    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
