@model CommonSolution.DTOs.DtoReclamo

@{
    ViewBag.Title = "Ingreso de Reclamo";
}

<h2>Ingreso de Reclamo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control", @rows = "6", id = "observaciones" })
                @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreTipoReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.nombreTipoReclamo, (List<SelectListItem>)ViewBag.colTipoDeReclamoSelect, "-- Tipo de Reclamo --", new { @class = "form-control" ,id="tipoReclamo"})
                @Html.ValidationMessageFor(model => model.nombreTipoReclamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="map" class="form-group" style="width: auto; height: 600px">

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="smBut" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewHvBMDcMrBFlu3aqp1OhShkwSjWLiBQ&callback=initMap"
            async></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maps")
}
