@model IEnumerable<CommonSolution.DTOs.DtoReclamo>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
}


@Styles.Render("~/Content/gridmvc")


<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="mb-3">Reclamos realizados</h1>
        <h6 class="subtitle font-weight-normal">Listado de reclamos realizados, gracias por su aportación a la ciudad de Toledo.</h6>
    </div>
</div>
<hr>

<p>
    @Html.ActionLink("Nuevo Reclamo", "Add", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Vista Reclamos", "List", null, new { @class = "btn btn-success" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.id).Titled("Nro").Filterable(true);
    columns.Add(c => c.fechaYhora).Titled("Fecha");
    columns.Add(c => c.observaciones).Titled("Descripción");
    columns.Add(c => c.estado).Titled("Estado");
    columns.Add(c => c.nombreTipoReclamo).Titled("Tipo").Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Detalle", "Details", new { id = o.id }, new { @class = "btn btn-success" }));


}).WithPaging(8).EmptyText("No hay nada que mostrar").Sortable().Selectable(true)



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}

