@model IEnumerable<CommonSolution.DTOs.DtoReclamo>

@{
    ViewBag.Title = "_D_List";
}

<h2>Reclamos Filtrados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaYhora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCiudadano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreTipoReclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatitudReclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongitudReclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCuadrilla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idZona)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaYhora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCiudadano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreTipoReclamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatitudReclamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudReclamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCuadrilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idZona)
            </td>
            <td>
                @Html.ActionLink("Cambiar Estado", "Modify", new { id = item.id }) |
                @Html.ActionLink("Generar Orden", "CreatePdf", new { id = item.id })
            </td>
        </tr>
    }

</table>

