@model IEnumerable<CommonSolution.DTOs.DtoLogReclamo>
@using GridMvc.Html
@{
    ViewBag.Title = "Details";
}
<head>

    @Styles.Render("~/Content/gridmvc")

</head>
<h2>Detalle de Reclamo</h2>

<p>
    @Html.ActionLink("Volver", "List",null, new {@class = "btn btn-primary" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.idReclamo).Titled("Nro Reclamo").SetWidth(30);
    columns.Add(c => c.fechaYhoraLog).Titled("Fecha").SetWidth(30);
    columns.Add(c => c.comentarioLog).Titled("Comentarios").SetWidth(80);
    columns.Add(c => c.observacionesCuadrilla).Titled("Comentarios Cuadrilla").SetWidth(80);
    columns.Add(c => c.estadoLog).Titled("Evolución Estado").SetWidth(20);
    columns.Add(c => c.nombreDeUsuario).Titled("Usuario Fun/Ciu").SetWidth(20);




}).WithPaging(8).EmptyText("No hay nada que mostrar").Sortable().Filterable()

@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
