@model CommonSolution.DTOs.DtoReclamo

@{
    ViewBag.Title = "List";
}

<h2>Listado de Reclamos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Estado</label>
            <div class="col-md-10">
                @Html.DropDownList("Estado", EnumHelper.GetSelectList(typeof(CommonSolution.ENUMs.EnumEstado)), "---Seleccione estado---", new { @class = "form-control", id = "selectValue" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Desde</label>
            <div class="col-md-10">
                <input id="date1" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hasta</label>
            <div class="col-md-10">
                <input id="date2" type="date" class="form-control">
            </div>
        </div>
    </div>
}
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="button" id="filtrar" value="Filtrar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div id="divTblRec">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/manejoReclamos");
}
