@model IEnumerable<CommonSolution.DTOs.DtoReclamo>
@using GridMvc.Html
@{
    ViewBag.Title = "ListAll";
}

@Styles.Render("~/Content/gridmvc")

<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="mb-3">Gestión de reclamos</h1>
        
    </div>
</div>
<hr>
<p>
    @Html.ActionLink("Filtro por Estado", "List", null, new { @class = "btn btn-primary" })
</p>

@Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.id).Titled("Nro").Filterable(true);
columns.Add(c => c.fechaYhora).Titled("Fecha");
columns.Add(c => c.observaciones).Titled("Comentarios");
columns.Add(c => c.idCiudadano).Titled("Id Ciudadano").Filterable(true);
columns.Add(c => c.nombreTipoReclamo).Titled("Tipo").Filterable(true);
columns.Add(c => c.idCuadrilla).Titled("Cuadrilla").Filterable(true);
columns.Add(c => c.estado).Titled("Estado");
columns.Add(c => c.idZona).Titled("Nro Zona").Filterable(true);

columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Modf.Estado", "Modify", new { id = o.id }, new { @class = "btn btn-info" }));
columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Detalle", "Details", new { id = o.id }, new { @class = "btn btn-primary" }));
columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(" ", "CreatePdf", new { id = o.id }, new{    @class = "btn btn-primary glyphicon glyphicon-qrcode" }));
   

}).WithPaging(8).EmptyText("No hay nada que mostrar").Sortable()


@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")


}



