@model IEnumerable<CommonSolution.DTOs.DtoUsuario>
@using GridMvc.Html
@{
    ViewBag.Title = "Listado de Funcionarios";
}
@Styles.Render("~/Content/gridmvc")
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("Add", "UsuarioFuncionario")'" class="btn btn-default" value="Ingresar" style="width: 100%; max-width: initial" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("Modify", "UsuarioFuncionario")'" class="btn btn-default" value="Actualizar" style="width: 100%; max-width: initial" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("ListFuncionario", "UsuarioFuncionario")'" class="btn btn-default" value="Listar" style="width: 100%; max-width: initial" disabled />
            </div>
        </div>
    </div>
</div>

<h2>Listado de Funcionarios</h2>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.nombreDeUsuario).Titled("Nombre de Usuario").SetWidth(30);
    columns.Add(c => c.nombre).Titled("Nombre");
    columns.Add(c => c.apellido).Titled("Apellido");
    columns.Add(c => c.telefono).Titled("Teléfono");
    columns.Add(c => c.email).Titled("e-mail");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(" ", "DeleteUsuario", new { nombreDeUsuario = o.nombreDeUsuario }, new { @class = "btn btn-danger glyphicon glyphicon-remove-circle" }));



}).WithPaging(8).EmptyText("No hay nada que mostrar").Selectable(true).Sortable(true).Filterable(true)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/grid")
}


