@model CommonSolution.DTOs.DtoChangePass

@{
    ViewBag.Title = "Cambiar Contraseña";
}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("Add", "UsuarioFuncionario")'" class="btn btn-default" value="Ingresar" style="width: 100%; max-width: initial" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("Modify", "UsuarioFuncionario")'" class="btn btn-default" value="Actualizar" style="width: 100%; max-width: initial" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div>
                <input type="button" onclick="location.href='@Url.Action("ListFuncionario", "UsuarioFuncionario")'" class="btn btn-default" value="Listar" style="width: 100%; max-width: initial" disabled />
            </div>
        </div>
    </div>
</div>
<h2>Cambiar Contraseña</h2>

@using (Html.BeginForm("ModifyPass", "UsuarioFuncionario"))
{
    @Html.AntiForgeryToken()
    <br>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.user, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newPass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newPass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.newPass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.repNewPass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.repNewPass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.repNewPass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar contraseña" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a Mis datos", "Modify")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}