@model IEnumerable<CommonSolution.DTOs.DtoReclamo>

@{
    ViewBag.Title = "Reclamos Atrasados";
}

<h2>Reclamos Atrasados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaYhora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCiudadano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreTipoReclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCuadrilla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idZona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoDeRetraso)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaYhora)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.observaciones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idCiudadano)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombreTipoReclamo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idCuadrilla)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idZona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tiempoDeRetraso)
    </td>
    <td>
        @Html.ActionLink("Actualizar Estado", "Details", new { id = item.id })
    </td>
</tr>
}

</table>
